<!DOCTYPE html>
{% extends './extensions/menu.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой Магазин</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?now"U"/>
</head>
<body>
    <h1>Привет! Это мой магазин!</h1>
    <h2>Поиск заказов покупателя </h2>
    <form action="{% url 'search' %}" method="GET">
        {% csrf_token %}
        <input name="q" type="text" placeholder="Введите имя или фамилию...">
    </form>
<!--<img src="{% static 'img/django.jpg' %}" alt="Django">-->
</body>
<script src="{% static 'js/script.js' %}" ></script>
{% endblock content %}
</html>
