<!DOCTYPE html>
{% extends './extensions/menu.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой Магазин</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?now"U"/>
</head>
<body>
  {% if user.is_authenticated %}
    <h1>Привет, {{ user.username }} ! Это мой магазин!</h1>
  {% else %}
    <p>Вы не вошли на сайт</p>
    <a href="{% url 'login' %}">Войти</a>
  {% endif %}
  <h2>Поиск заказов покупателя </h2>
  <form action="{% url 'search' %}" method="GET">
    {% csrf_token %}
    <input name="q" type="text" placeholder="Введите имя или фамилию...">
  </form>
</body>
{% endblock content %}
<script src="{% static 'js/script.js' %}" ></script>
</html>
